.chosen-campus-container {
  width: 90vw;
  margin-top:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chosen-campus-meta-container {
  width: 78vw;
  height: 120px;
}

.chosen-campus-meta-container h1 {
  margin: 0;
}

.option-container {
  height: 508px;
}

.chosen-campus-meta {
  width: 180px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.option-container p {
  font-family: SceneAH-Medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 67%;
  color: #59539b;
}


.option-container .arrow {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.option-container .arrow img {
  width: 11pt;
  height: 19pt;
}

.option-container .arrow a {
  font-family: SceneAH-Medium;
  font-size: 40px;
  text-decoration: none;
}

.change-campus {
  height: 193px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.change-campus p {
  font-family: SceneAH-Light;
  width: 168px;
  color: #fff;
  text-decoration: underline;
}
