.index {
    align-items: center;
    top: 30%;
}

.index-header {
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

.index-sub-header {
    font-family: SceneAH-Light;
    font-size: 16px;
    text-align: center;
    width: 65%;
}

.index-link-box {
    display: flex;
    flex-direction: row;
}

.index-link {
    font-size: 12px;
    color: rgba(89, 83, 155, 1);
    margin: 0 5px;
}
