body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* rubriker */
@font-face {
    font-family: "ChronicleTextG1-Roman";
    src: local("ChronicleTextG1-Roman.otf"),
        url(./fonts/ChronicleTextG1-Roman.otf) format("otf");
}

/* brödtext */
@font-face {
    font-family: "SceneAH-Medium";
    src: local("SceneAH-Medium.otf"),
        url(./fonts/SceneAH-Medium.otf) format("otf");
}

/* inputs */
@font-face {
    font-family: "SceneAH-Light";
    src: local("SceneAH-Light.otf"),
        url(./fonts/SceneAH-Light.otf) format("otf");
}

h1 {
    font-family: "ChronicleTextG1-Roman";
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: initial;
}

p,
a,
strong {
    font-family: "SceneAH-Medium";
    font-size: 16px;
}

input {
    font-family: "SceneAH-Light";
}
