.header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}

.app-logo {
    height: 30px;
    margin: 0 3%;
}

.header-title {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 6px;
    font-family: SceneAH-Light, sans-serif;
}
