header {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.Logo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
